.idea
**/*.pid
emulator/logging
client-tests/node_modules/
client-tests/test-results/
client-tests/screenshots/*.png
client-tests/screenshots/*.jpg
client-tests/screenshots/*.jpeg
furni-generator/__pycache__/
furni-generator/*.pyc